.bash_history
.cache
.config
.DS_Store
.hubot_history
.idea
.ipynb_checkpoints
.node_repl_history
.npm
.Rhistory
.terraform
.vscode
.yarn
.yarnrc
credentials.json
data/
node_modules
terraform.tfstate
terraform.tfstate.backup
tweet/
venv
yarn.lock
