body{
  font-family: sans-serif;
  /* background-image: url("niconico_bg_blue.png");
  background: url("niconico_bg_blue.png") top center / 100px 100px no-repeat; */
}

h2{
  /* border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  border-width: 0px 0px 2px 4px;
  border-left-color: red;
  background-color: #f2f2f2; */
  background-image: url(niconico_bg_blue.png);
  line-height: 50px;
  padding: 0 15px;
  color: #fff;
  text-align: center;
}

.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInner,.mainInner{
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}

.aboutWrapper img{
  float:left;
  margin-right: 10px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.keyVisual{
  text-align: center;
}

.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
    padding: 7px;
}

.priceWrapper table{
    width: 100%;
}

.priceWrapper th{
    width: 150px;
    background: #eee;
}

footer{
  background: #eeeeee;
}

.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

/* 
.contactButton{
  background: white;
  color: #000;
  width:200px;
  height:30px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
}

.contactButton a:hover{
  background: orange ;
} */

.contactButton{
  text-align: center;
}
.contactButton a{
  background: white;
  color: #000;
  width:150px;
  height:50px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 16px;
}
.contactButton a:hover{
  background: skyblue ;
}