[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
joblib = "*"
sklearn = "*"
palmerpenguins = "*"
requests = "*"
typing-extensions = "*"
jinja2 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
