[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hello-ecs = {editable = true, file = "file:///Users/ida/github/hobby/practice/aws/fargate/hello_ecs"}
"aws-cdk.aws-ecs-patterns" = "*"

[dev-packages]

[requires]
python_version = "3.8"
