h1{
  font-family: 'Lexend Deca', sans-serif;
}

li{
  font-family: 'Lexend Deca', sans-serif;
  color: rgb(30, 50, 100);
}

p{
  font-family: 'Lexend Deca', sans-serif;
  color: #eab01c;
}

h4{
  font-family: 'Lexend Deca', sans-serif;
  color:rgba(13, 90, 140, 0.5);
}
